body {
            background-color: #000000;
            background-size: cover;
            background-attachment: fixed;
            color: #ffffff;
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .c1 {
            width: 100%;
            max-width: 1200px;
            margin: 20px;
            padding: 20px;
            background: rgba(0, 0, 0, 0.7);
            border-radius: 15px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 1);
            backdrop-filter: blur(10px);
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
		.dots{
		  background-color: black;
		  position: absolute;
		  left: 0;
		  top: 0;
		  display: block;
		  z-index: -1;
		}
		
        header {
            text-align: center;
            padding: 20px;
        }

        header h1 {
            font-size: 2.5em;
            margin: 0;
            background: -webkit-linear-gradient(#ffffff, #2c3e50);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        header p {
            font-size: 1em;
            color: #cccccc;
        }

        .image-placeholder {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #333333;
            background: rgba(0, 0, 0, 0);
            width: 100%;
            height: 200px;
            margin: 20px 0;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 0 0px rgba(0, 0, 0, 0);
        }

        .image-placeholder img {
            max-width: 90%;
            max-height: 90%;
            border-radius: 10px;
            transition: transform 0.5s;
        }

        .image-placeholder img:hover {
            transform: scale(1.05);
        }

        section {
            margin-bottom: 20px;
        }

        h2 {
            border-bottom: 2px solid #686060;
            padding-bottom: 10px;
            margin-bottom: 10px;
            font-size: 1.5em;
            position: relative;
            cursor: pointer;
            transition: color 0.3s, background-color 0.3s;
            color: #ffffff;
        }

        h2::after {
            content: '▶';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            font-size: 1em;
            transition: transform 0.3s;
        }

        h2.open::after {
            transform: translateY(-50%) rotate(90deg);
        }

        .dropdown-content {
            max-height: 0;
            opacity: 0;
            transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
            border-radius: 10px;
            overflow: hidden;
        }

        .dropdown-content.show {
            max-height: 500px;
            opacity: 1;
        }

        .dropdown-content ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .dropdown-content li {
            padding: 8px 10px;
            border-bottom: 1px solid #333333;
            transition: transform 0.3s, background-color 0.3s;
            border-left: 5px solid transparent;
            background-color: #222222;
        }

        .dropdown-content li:hover {
            transform: scale(1.01);
            background-color: #333333;
        }

        footer {
            text-align: center;
            padding: 10px;
            background-color: #111111;
            border-top: 2px solid #333333;
        }

        a {
            color: #a2b4c0;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        #summary {
            cursor: default;
            color: #ffffff;
            background: none;
            border-bottom: none;
        }

        .dropdown-header {
            color: #ffffff;
        }

        .dropdown-header:hover {
            background-color: #000000;
            background: rgba(0, 0, 0, 0);
        }